* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #f9fafb;
  --background-filter: #f8f9fa;
  --background-filter-selected: #e2e3e8;
  --white: #ffffff;
  --text-primary: #000000;
  --text-secondary: #646464;
  --text-tertiary: #939393;
  --button-primary: #f2f2f2;
  --button-primary-hover: #e2e3e8;
  --primary-chart-color: #fed500;
  --secondary-chart-color: #fff5c2;
  --alert: #ffe24e;
  --attention: #ff624c;
  --success: #4cff54;
}

/* font-size: 16px (Desktop) */
html {
  display: flex;
  flex-direction: column-reverse;
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }
  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5rem;
  box-shadow: 0 0 5px 0 #3b3939;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background: var(--background);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
strong {
  font-weight: 600;
  color: var(--text-primary);
}

button {
  cursor: pointer;
}
[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
